.sidebar {
    @include flexbox();
    min-height: 100vh;
    width: 100%;
    flex-direction: column;

    &-top {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex: 1;
        padding-top: 2rem;
    }

    &-logo{
        color: $c-main;
        font-size: 3.5rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: -6px;
        text-shadow: 0 .2rem .4rem $c-shadow-main, 0 .2rem .4rem $c-shadow-main;
    }

    &-middle {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;
    }

    &-bottom {
        justify-content: center;
        align-items: flex-end;
        display: flex;
        flex: 1;
        padding-bottom: 2rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            padding-top: 2rem;
            cursor: pointer;
            text-align: center;
            transition: all .3s ease;

            &:first-of-type {
                padding-top: 0;
            }

            a {
                position: relative;
                justify-content: center;
                align-items: center;
                transition: transform .15s ease;
                font-size: 10px;
                transition: all .3s ease;
                opacity: .5;
                i{
                    font-size: 35px;
                    color: #c6c6c6;
                }
                span{
                    display: block;
                    flex-basis: 100%;
                    padding-top: .25rem;
                    transform: translateX(-200px);
                    transition: all .15s ease;
                    color: palette(secundary);
                    text-transform: uppercase;
                    @media screen and (max-width: $media768) {
                        transform: translateY(-200px);
                        align-self: flex-end;
                        padding-bottom: .5rem;
                    }
                }

                &.active, &:hover {
                    opacity: 1;
                    span {
                        transform: translateX(0);
                        color: $c-malabars;
                        font-weight: bold;
                    }
                    i {
                        color: palette(white);
                        transform: scale(1.1);
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;
                        animation: dash 12s ease alternate;
                    }
                }
            }
        }
    }
}